.introduction {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display : flex ; 
  
  .intro-video {
    display : flex ; 
    width: 60%;
    align-items: center;
    justify-content: center;
    img {
        width: 300px ;
        height: auto;
        border-radius: 50%
    }
  }
  .intro-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    .buttons {
      display : flex ; 
      align-items: center;
      justify-content: space-between;

      .btn-mywork {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 50px 10px 50px ;
        border-radius : 50px ; 
        background-color: rgb(2 82 205/1);
        color : #fff ; 
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .btn-copyemail{
        color : grey ; 
        cursor: pointer ; 
        display : flex ; 
        input {
          border: 1px solid rgb(243 248 255/1) ;    
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          padding : 23px ;
          color : grey ; 
          font-weight: 300;
          font-size: 1rem ; 
        }
        button {
          background-color:  rgb(243 248 255/1) ;
          border: 1px solid rgb(243 248 255/1) ;  
          border-top-right-radius: 50px;
          padding : 20px ; 
          border-bottom-right-radius: 50px;
        }
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      .up-text {
        display: flex;
        width: 100%;
        color: rgb(2, 82, 205);
      }
      .mid {
        h1 {
          font-size: 4rem;
        }
        .mid2-text {
          position: relative;
          width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: space-between;
          .fullstack-text {
            position: relative;
            display: flex;
            flex-direction: column;
            h1 {
              z-index: 3;
            }
            .underline {
              position: absolute;
              bottom: 10px;
              height: 30px;
              background-color: yellow;
              width: 100%;
              z-index: 2;
            }
          }

          .developer-text {
            display: flex;
            flex-direction: column;
            h1 {
              z-index: 3;
            }
            .underline {
              position: absolute;
              bottom: 10px;
              height: 30px;
              background-color: yellow;
              width: 100%;
              z-index: 2;
            }
          }
        }
      }
      .bottom {
        padding-right: 50px ; 
        padding-top: 10px;
        padding-bottom: 30px ;
        p {
          font-size : medium ; 
          color: grey;
        }
      }
    }
  }
}
